<div class="wrapper">
    <div class="innerDiv">
        <h1>About</h1>
        <br>
        <p class="tab">
            I am married to my wonderful wife and have a pet dog that is a Golden Doodle. Currently I live in Knoxville, TN. My passions include
            coding and working with technology. My hobbies include watching sports, primarily Philadeplphia teams or the UT Vols, and playing video games with
            my friends. 
        </p>
    </div>
    <div class="innerDiv">
        <h2>List of Technology</h2>
        <br>
        <ul class="tab">
            <li>Python</li>
            <li>JavaScript</li>
            <li>C#</li>
            <li>Front-End Angular Framework</li>
        </ul>
    </div>
</div>
