<div class="wrapper">
    <div class="innerDiv">
        <h1>Meet Ryan</h1>
        <br>
        <p class="tab">
            I am married to my wonderful wife and have a pet Golden Doodle. I live in Knoxville, TN. Currently, I am a banker with Regions Bank. My passions include
            coding and working with technology. My hobbies include watching sports, primarily Philadeplphia teams or the UT Vols, and playing video games with
            my friends. 
        </p>
    </div>
    <div class="innerDiv">
        <h2>List of Technologies</h2>
        <br>
        <ul class="tab">
            <li>Python</li>
            <li>JavaScript</li>
            <li>C#</li>
            <li>Front-End Angular Framework</li>
        </ul>
    </div>
</div>
