nav {
    background-color: #211A1E;
    text-align: center;
    height: 55px;
}

button {
    border: none;
    font-size: 25px;
    background-color: #211A1E;
    margin: .5em 2.5em;
    color: #FAFFD8;
    cursor: pointer;
}

button:hover {
    color: #8E9AAF;
}